<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Machining Set Up Time</h2>
					</header>

					<!-- start: page -->
					<!-- Information -->
					<div class="col-md-12">
							<form id="form" action="/edit_msut_confirm/" method="POST" class="form-horizontal">
								{% csrf_token %}
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<!-- <a href="#" class="fa fa-caret-down"></a> -->
											<!-- <a href="#" class="fa fa-times"></a>	 -->
										</div>

										<h2 class="panel-title">Edit Machining Set Up Time</h2>
									</header>
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>CLA</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-cla" name="msut-cla" value="{{ msut.cla }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>BTA</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-bta" name="msut-bta" value="{{ msut.bta }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>TMA</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-tma" name="msut-tma" value="{{ msut.tma }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>MCA 3 Axis</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-mca3axis" name="msut-mca3axis" value="{{ msut.mca3axis }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>MCA 4 Axis</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-mca4axis" name="msut-mca4axis" value="{{ msut.mca4axis }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>HMC</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-hmc" name="msut-hmc" value="{{ msut.hmc }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>5 Axis</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-5axis" name="msut-5axis" value="{{ msut.axis5 }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>EDM</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-edm" name="msut-edm" value="{{ msut.edm }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Grinding</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="msut-grinding" name="msut-grinding" value="{{ msut.grinding }}">
											</div>
											<label style="padding-top:5px" class="text-left">Minutes</label>
										</div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-warning" type="submit">Confirm</button>
                        <button class="btn btn-default" type="button" onclick="history.back()">Cancel</button>
											</div>
										</div>
									</footer>
								</section>
							</form>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

</html>
