<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Part Costing</h2>
					</header>

					<!-- start: page -->
					<!-- Information -->
					<div class="col-md-12">
							<form id="form" action="/edit_part_costing_confirm/" method="POST" class="form-horizontal">
								{% csrf_token %}
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<!-- <a href="#" class="fa fa-caret-down"></a> -->
											<!-- <a href="#" class="fa fa-times"></a>	 -->
										</div>
										<h2 class="panel-title">Edit Part Costing</h2>
									</header>
									<div class="panel-body">
										<input type="hidden" class="form-control" id="sl-no" name="sl-no" value="{{ part.sl_no }}">
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>CCS Quote Assumptions</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="ccs-quote-assumptions" name="ccs-quote-assumptions" value="{{ part_costing.ccs_quote_assumptions }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>NRE Amortizing Cost</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="nre-amortizing-cost" name="nre-amortizing-cost" value="{{ part_costing.nre_amortizing_cost }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Target Price (USD)</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="target-price" name="target-price" value="{{ part_costing.target_price }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>One Time Special Process Set Up Cost</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="otspsuc" name="otspsuc" value="{{ part_costing.otspsuc }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>One Time RM Airshipments Cost</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="otrmac" name="otrmac" value="{{ part_costing.otrmac }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>One Time Tooling Cost
												<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="CAD Modelling, CNC Programming, Thread Gauges, Jigs & Fixtures Design & Manufacturing, FAI Prove Out & Documentations"></i>
											</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="ottc" name="ottc" value="{{ part_costing.ottc }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Base Subcontract</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="base-subcontract" name="base-subcontract" value="{{ part_costing.base_subcontract }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>DDP Shipping Cost</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="ddp-shipping-cost" name="ddp-shipping-cost" value="{{ part_costing.ddp_shipping_cost }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>EBQ_Customer QTY (Prodn Lot)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="ebq-customer-qty" name="ebq-customer-qty" value="{{ part_costing.ebq_customer_qty }}">
											</div>
										</div>
										<hr>
										<div class="form-group">
											<div class="col-sm-12 text-center">
												<label class="control-label"><b>Delivery Lead Time in Weeks</b></label>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>FAI</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="dltiw-fai" name="dltiw-fai" value="{{ part_costing.dltiw_fai }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Serial Production</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="dltiw-serial-production" name="dltiw-serial-production" value="{{ part_costing.dltiw_serial_production }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Production</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="dltiw-production" name="dltiw-production" value="{{ part_costing.dltiw_production }}">
											</div>
										</div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-warning" type="submit">Confirm</button>
                        <button class="btn btn-default" type="button" onclick="history.back()">Cancel</button>
											</div>
										</div>
									</footer>
								</section>
							</form>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

</html>
