	<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">

		<style>
		select option:disabled {
	    color: #e0e0e0;
		}
		</style>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Material</h2>
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/part_info/{{ part.sl_no }}">
										<i class="fa fa-chevron-left"></i><b> Back</b>
									</a>
								</li>
							</ol>
							<a class="sidebar-right-toggle"></a>
						</div>
					</header>

					<!-- start: page -->
					<!-- Information -->
					<div class="col-md-12">
							<form id="form" action="/edit_material_confirm/" method="POST" class="form-horizontal">
								{% csrf_token %}
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<!-- <a href="#" class="fa fa-caret-down"></a> -->
											<!-- <a href="#" class="fa fa-times"></a>	 -->
											<a class="btn btn-danger" style="height:36px;width:78px;" href="/edit_material_remove/{{ part.sl_no }}" type="button">Remove</a>
										</div>
										<h2 class="panel-title">Edit Material</h2>
									</header>
									<div class="panel-body">
										<input type="hidden" class="form-control" id="sl-no" name="sl-no" value="{{ part.sl_no }}">
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Description</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="description" name="description" value="{{ material.description }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Cross Section</b></label>
											<div class="col-md-3">
													<select class="form-control input-md" id="cross-section" name="cross-section">
														<option value="Round Bar Shape" {% if material.cross_section == "Round Bar Shape" %}selected{% endif %}>Round Bar Shape</option>
														<option value="Tube Shape" {% if material.cross_section == "Tube Shape" %}selected{% endif %}>Tube Shape</option>
														<option value="Flat Bar / Plate / Sheet" {% if material.cross_section == "Flat Bar / Plate / Sheet" %}selected{% endif %}>Flat Bar / Plate / Sheet</option>
													</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Material Type</b></label>
											<div class="col-sm-3">
												<select class="form-control input-md" id="type" name="type">
													<option value="Optional" {% if material.type == "Optional" %}selected{% endif %}>(Optional)</option>
													<optgroup label="Metals">
														<option value="Aluminum" {% if material.type == "Aluminum" %}selected{% endif %}>Aluminum</option>
														<option value="Beryllium" {% if material.type == "Beryllium" %}selected{% endif %}>Beryllium</option>
														<option value="Copper" {% if material.type == "Copper" %}selected{% endif %}>Copper</option>
														<option value="Gold" {% if material.type == "Gold" %}selected{% endif %}>Gold</option>
														<option value="Lead" {% if material.type == "Lead" %}selected{% endif %}>Lead</option>
														<option value="Magnesium" {% if material.type == "Magnesium" %}selected{% endif %}>Magnesium</option>
														<option value="Nickle-Cobalt Alloys" {% if material.type == "Nickle-Cobalt Alloys" %}selected{% endif %}>Nickle-Cobalt Alloys</option>
														<option value="Steel" {% if material.type == "Steel" %}selected{% endif %}>Steel</option>
														<option value="Tantalum" {% if material.type == "Tantalum" %}selected{% endif %}>Tantalum</option>
														<option value="Titanium" {% if material.type == "Titanium" %}selected{% endif %}>Titanium</option>
														<option value="Tungsten" {% if material.type == "Tungsten" %}selected{% endif %}>Tungsten</option>
														<option value="Zinc" {% if material.type == "Zinc" %}selected{% endif %}>Zinc</option>
														<option value="Zirconium" {% if material.type == "Zirconium" %}selected{% endif %}>Zirconium</option>
													</optgroup>
													<optgroup label="Polymers">
														<option value="ABS" {% if material.type == "ABS" %}selected{% endif %}>ABS</option>
														<option value="Nylon" {% if material.type == "Nylon" %}selected{% endif %}>Nylon</option>
														<option value="Polycarbonate" {% if material.type == "Polycarbonate" %}selected{% endif %}>Polycarbonate</option>
														<option value="Polyethylene" {% if material.type == "Polyethylene" %}selected{% endif %}>Polyethylene</option>
														<option value="Polypropylene" {% if material.type == "Polypropylene" %}selected{% endif %}>Polypropylene</option>
													</optgroup>
													<optgroup label="Ceramics">
														<option value="Alumina (Al2O3)" {% if material.type == "Alumina (Al2O3)" %}selected{% endif %}>Alumina (Al2O3)</option>
														<option value="Silica Glass (SiO2)" {% if material.type == "Silica Glass (SiO2)" %}selected{% endif %}>Silica Glass (SiO2)</option>
														<option value="Zirconia (ZrO2)" {% if material.type == "Zirconia (ZrO2)" %}selected{% endif %}>Zirconia (ZrO2)</option>
													</optgroup>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Density</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="density" name="density" value="{{ material.rm_density }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="density-unit" name="density-unit">
													<option value="g/cc" {% if material.rm_density_unit == "g/cc" %}selected{% endif %}>g/cc</option>
													<option value="lb/in³" {% if material.rm_density_unit == "lb/in³" %}selected{% endif %} disabled>lb/in³</option>
													<option value="lb/ft³" {% if material.rm_density_unit == "lb/ft³" %}selected{% endif %} disabled>lb/ft³</option>
													<option value="kg/m³" {% if material.rm_density_unit == "kg/m³" %}selected{% endif %} disabled>kg/m³</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Quantity</b></label>
											<div class="col-sm-3">
												<input type="number" class="form-control" id="quantity" name="quantity" value="{{ material.quantity }}">
											</div>
										</div>
										<div class="form-group" id="group-D1">
											<label class="col-sm-4 control-label"><b>Outer Diameter (D1)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-d1" name="rm-d1" value="{{ material.rm_d1 }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="rm-d1-unit" name="rm-d1-unit">
													<option value="mm" {% if material.rm_d1_unit == "mm" %}selected{% endif %}>mm</option>
													<option value="cm" {% if material.rm_d1_unit == "cm" %}selected{% endif %}>cm</option>
													<option value="m" {% if material.rm_d1_unit == "m" %}selected{% endif %}>m</option>
													<option value="in" {% if material.rm_d1_unit == "in" %}selected{% endif %}>in</option>
													<option value="ft" {% if material.rm_d1_unit == "ft" %}selected{% endif %}>ft</option>
													<option value="yd" {% if material.rm_d1_unit == "yd" %}selected{% endif %}>yd</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="group-D2">
											<label class="col-sm-4 control-label"><b>Inner Diameter (D2)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-d2" name="rm-d2" value="{{ material.rm_d2 }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="rm-d2-unit" name="rm-d2-unit">
													<option value="mm" {% if material.rm_d2_unit == "mm" %}selected{% endif %}>mm</option>
													<option value="cm" {% if material.rm_d2_unit == "cm" %}selected{% endif %}>cm</option>
													<option value="m" {% if material.rm_d2_unit == "m" %}selected{% endif %}>m</option>
													<option value="in" {% if material.rm_d2_unit == "in" %}selected{% endif %}>in</option>
													<option value="ft" {% if material.rm_d2_unit == "ft" %}selected{% endif %}>ft</option>
													<option value="yd" {% if material.rm_d2_unit == "yd" %}selected{% endif %}>yd</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="group-T">
											<label class="col-sm-4 control-label"><b>Thickness (T)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-t" name="rm-t" value="{{ material.rm_t }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="rm-t-unit" name="rm-t-unit">
													<option value="mm" {% if material.rm_t_unit == "mm" %}selected{% endif %}>mm</option>
													<option value="cm" {% if material.rm_t_unit == "cm" %}selected{% endif %}>cm</option>
													<option value="m" {% if material.rm_t_unit == "m" %}selected{% endif %}>m</option>
													<option value="in" {% if material.rm_t_unit == "in" %}selected{% endif %}>in</option>
													<option value="ft" {% if material.rm_t_unit == "ft" %}selected{% endif %}>ft</option>
													<option value="yd" {% if material.rm_t_unit == "yd" %}selected{% endif %}>yd</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="group-W">
											<label class="col-sm-4 control-label"><b>Width (W)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-w" name="rm-w" value="{{ material.rm_w }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="rm-w-unit" name="rm-w-unit">
													<option value="mm" {% if material.rm_w_unit == "mm" %}selected{% endif %}>mm</option>
													<option value="cm" {% if material.rm_w_unit == "cm" %}selected{% endif %}>cm</option>
													<option value="m" {% if material.rm_w_unit == "m" %}selected{% endif %}>m</option>
													<option value="in" {% if material.rm_w_unit == "in" %}selected{% endif %}>in</option>
													<option value="ft" {% if material.rm_w_unit == "ft" %}selected{% endif %}>ft</option>
													<option value="yd" {% if material.rm_w_unit == "yd" %}selected{% endif %}>yd</option>
												</select>
											</div>
										</div>
										<div class="form-group" id="group-L">
											<label class="col-sm-4 control-label"><b>Length (L)</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-l" name="rm-l" value="{{ material.rm_l }}">
											</div>
											<div class="col-sm-2">
												<select class="form-control input-md" id="rm-l-unit" name="rm-l-unit">
													<option value="mm" {% if material.rm_l_unit == "mm" %}selected{% endif %}>mm</option>
													<option value="cm" {% if material.rm_l_unit == "cm" %}selected{% endif %}>cm</option>
													<option value="m" {% if material.rm_l_unit == "m" %}selected{% endif %}>m</option>
													<option value="in" {% if material.rm_l_unit == "in" %}selected{% endif %}>in</option>
													<option value="ft" {% if material.rm_l_unit == "ft" %}selected{% endif %}>ft</option>
													<option value="yd" {% if material.rm_l_unit == "yd" %}selected{% endif %}>yd</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Total Weight</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="rm-total-weight" name="rm-total-weight" readonly value="{{ material.rm_total_weight }}">
											</div>
											<label style="padding-top:5px" class="text-left">kg</label>
										</div>
										<hr>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b></b></label>
											<div class="col-sm-6">
												<div class="checkbox">
													<label><input type="checkbox" id="check-armwpp" name="check-armwpp" {% if material.armwpp != 0 %}checked{% endif %}>
													Use 'Approximate Raw Material Weight Per Part' Instead of 'Total Weight'.</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Approximate Raw Material Weight Per Part</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="armwpp" name="armwpp" value="{{ material.armwpp }}" {% if material.armwpp == 0 %}readonly{% endif %}>
											</div>
											<label style="padding-top:5px" class="text-left">kg</label>
										</div>
										<hr>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Finished Part Weight Percentage</b></label>
											<div class="col-sm-3">
												<input type="number" step="any" class="form-control" id="fpwp" name="fpwp" value="{{ material.fpwp }}">
											</div>
											<label style="padding-top:5px" class="text-left"><small>Percentage (Ex. 0.42 = 42%)</small></label>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Material Supplier</b></label>
											<div class="col-sm-5">
												<input type="text" class="form-control" id="material-supplier" name="material-supplier" value="{{ material.supplier }}">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Base Material Price/kg</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="base-material-price" name="base-material-price" value="{{ material.base_material_price }}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-4 control-label"><b>Material Shipping Cost USD/kg</b></label>
											<div class="col-sm-3">
												<div class="input-group input-group-icon">
														<span class="input-group-addon">
															<span class="icon">$</span>
														</span>
														<input type="number" step="any" class="form-control" id="material-shipping-cost" name="material-shipping-cost" value="{{ material.shipping_cost }}">
												</div>
											</div>
										</div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<button class="btn btn-warning" type="submit">Confirm</button>
                        <a class="btn btn-default" type="button" href="/part_info/{{ part.sl_no }}">Cancel</a>
											</div>
										</div>
									</footer>
								</section>
							</form>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

<script>
$( document ).ready(function() {
	cross_section_change();
});

$( "#cross-section" ).change(function() {
	cross_section_change();
	calculate_weight();
});

$( "#type" ).change(function() {
	material_type_change();
	calculate_weight();
});

$( "#density" ).change(function() {
	calculate_weight();
});

$( "#density-unit" ).change(function() {
	calculate_weight();
});

$( "#quantity" ).change(function() {
	calculate_weight();
});

$( "#rm-d1" ).change(function() {
	calculate_weight();
});

$( "#rm-d1-unit" ).change(function() {
	calculate_weight();
});

$( "#rm-d2" ).change(function() {
	calculate_weight();
});

$( "#rm-d2-unit" ).change(function() {
	calculate_weight();
});

$( "#rm-t" ).change(function() {
	calculate_weight();
});

$( "#rm-t-unit" ).change(function() {
	calculate_weight();
});

$( "#rm-w" ).change(function() {
	calculate_weight();
});

$( "#rm-w-unit" ).change(function() {
	calculate_weight();
});

$( "#rm-l" ).change(function() {
	calculate_weight();
});

$( "#rm-l-unit" ).change(function() {
	calculate_weight();
});

$( "#check-armwpp" ).change(function() {
	armwpp_change();
});

function armwpp_change(){
	if ($( "#check-armwpp" ).prop("checked")) {
		$('#armwpp').attr('readonly', false);
  } else {
		$('#armwpp').attr('readonly', true);
	}
}

function calculate_weight(){
	var cross_section = $( "#cross-section" ).val();
	var density = $( "#density" ).val();
	var quantity = $( "#quantity" ).val();
	var result = -1;
	if (cross_section == "Round Bar Shape"){
		var value_d1 = convert_unit($( "#rm-d1" ).val(),$( "#rm-d1-unit" ).val());
		var value_l = convert_unit($( "#rm-l" ).val(),$( "#rm-l-unit" ).val());

		// Dens<g/cc> * OD<cm> * OD<cm> * L<cm> * 3.142 / 4000
		var result = quantity * density * value_d1 * value_d1 * value_l * 3.142 / 4000;

		if(density == "" || quantity == "" || $( "#rm-d1" ).val() == "" || $( "#rm-l" ).val() == ""){
			var result = "-1";
		}
 	} else if (cross_section == "Tube Shape"){
		var value_d1 = convert_unit($( "#rm-d1" ).val(),$( "#rm-d1-unit" ).val());
		var value_d2 = convert_unit($( "#rm-d2" ).val(),$( "#rm-d2-unit" ).val());
		var value_l = convert_unit($( "#rm-l" ).val(),$( "#rm-l-unit" ).val());

		// [ Dens<g/cc> * * OD<cm> * OD<cm> * L<cm> * 3.142 / 4000 ] - [ Dens<g/cc> * ID<cm> * ID<cm> * L<cm> * 3.142 / 4000 ]
		var result = quantity * ((density * value_d1 * value_d1 * value_l * 3.142 / 4000) - (density * value_d2 * value_d2 * value_l * 3.142 / 4000));

		if(density == "" || quantity == "" || $( "#rm-d1" ).val() == "" || $( "#rm-d2" ).val() == "" || $( "#rm-l" ).val() == ""){
			var result = "-1";
		}
 	} else if (cross_section == "Flat Bar / Plate / Sheet"){
		var value_t = convert_unit($( "#rm-t" ).val(),$( "#rm-t-unit" ).val());
		var value_w = convert_unit($( "#rm-w" ).val(),$( "#rm-w-unit" ).val());
		var value_l = convert_unit($( "#rm-l" ).val(),$( "#rm-l-unit" ).val());

		// Dens<g/cc> * T<cm> * W<cm> * L<cm> / 1000
		var result = quantity* density * value_t * value_w * value_l / 1000;

		if(density == "" || quantity == "" || $( "#rm-t" ).val() == "" || $( "#rm-w" ).val() == "" || $( "#rm-l" ).val() == ""){
			var result = "0";
		}
 	}
	$( "#rm-total-weight" ).val(result);
}

function convert_unit(value,unit){
	if(unit == "mm"){
		return value / 10;
	} else if(unit == "m"){
		return value * 100;
	} else if(unit == "in"){
		return value * 2.54;
	} else if(unit == "ft"){
		return value * 30.48;
	} else if(unit == "yd"){
		return value * 91.44;
	}
	return value;
}

function cross_section_change(){
	var cross_section = $( "#cross-section" ).val();
	if (cross_section == "Round Bar Shape"){
		$( "#group-D1" ).show();
		$( "#group-D2" ).hide();
		$( "#group-T" ).hide();
		$( "#group-W" ).hide();
		$( "#group-L" ).show();
	} else if (cross_section == "Tube Shape"){
		$( "#group-D1" ).show();
		$( "#group-D2" ).show();
		$( "#group-T" ).hide();
		$( "#group-W" ).hide();
		$( "#group-L" ).show();
	} else if (cross_section == "Flat Bar / Plate / Sheet"){
		$( "#group-D1" ).hide();
		$( "#group-D2" ).hide();
		$( "#group-T" ).show();
		$( "#group-W" ).show();
		$( "#group-L" ).show();
	}
}

function material_type_change(){
	var material_type = $( "#type" ).val();
	var density_unit = $( "#density-unit" ).val();
	if (material_type == "Optional"){
		$( "#density" ).val(0.0);
	} else if (material_type == "Aluminum"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(2.7);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.09755100000000001);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(168.555519);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(2700);
		}
	} else if (material_type == "Beryllium"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(1.84);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0664792);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(114.86746480000001);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(1840);
		}
	} else if (material_type == "Copper"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(8.96);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.32372480000000003);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(559.3546112);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(8960);
		}
	} else if (material_type == "Gold"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(19.32);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.6980316000000001);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(1206.1083804);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(19320);
		}
	} else if (material_type == "Lead"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(11.34);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.40971420000000003);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(707.9331798000001);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(11340);
		}
	} else if (material_type == "Magnesium"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(1.74);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0628662);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(108.6246678);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(1740);
		}
	} else if (material_type == "Nickle-Cobalt Alloys"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(8.25);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.2980725);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(515.0307525000001);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(8250);
		}
	} else if (material_type == "Steel"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(7.85);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.2836205);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(490.05956449999996);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(7850);
		}
	} else if (material_type == "Tantalum"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(16.65);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.6015645);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(1039.4257005);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(16650);
		}
	} else if (material_type == "Titanium"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(4.50);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.162585);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(280.925865);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(4500);
		}
	} else if (material_type == "Tungsten"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(19.30);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.6973090000000001);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(1204.859821);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(19300);
		}
	} else if (material_type == "Zinc"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(7.10);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.256523);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(443.238587);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(7100);
		}
	} else if (material_type == "Zirconium"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(6.53);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.23592890000000002);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(407.65464410000004);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(6530);
		}
	} else if (material_type == "ABS"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(1.07);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0386591);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(66.7979279);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(1070);
		}
	} else if (material_type == "Nylon"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(1.13);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0408269);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(70.54360609999999);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(1130);
		}
	} else if (material_type == "Polycarbonate"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(1.22);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0440786);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(76.1621234);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(1220);
		}
	} else if (material_type == "Polyethylene"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(0.95);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.0343235);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(59.3065715);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(950);
		}
	} else if (material_type == "Polypropylene"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(0.90);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.032517000000000004);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(56.185173000000006);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(900);
		}
	} else if (material_type == "Alumina (Al2O3)"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(3.96);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.1430748);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(247.2147612);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(3960);
		}
	} else if (material_type == "Silica Glass (SiO2)"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(2.18);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.07876340000000001);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(136.09297460000002);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(2180);
		}
	} else if (material_type == "Zirconia (ZrO2)"){
		if(density_unit == "g/cc"){
			$( "#density" ).val(5.68);
		} else if (density_unit == "lb/in³"){
			$( "#density" ).val(0.2052184);
		} else if (density_unit == "lb/ft³"){
			$( "#density" ).val(354.5908696);
		} else if (density_unit == "kg/m³"){
			$( "#density" ).val(5680);
		}
	}
}
</script>
</script>

</html>
