{% load static %}

<aside id="sidebar-left" class="sidebar-left">

				  <div class="sidebar-header">
				    <div class="sidebar-title">
				      Menu
				    </div>
				    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
				    </div>
				  </div>

				  <div class="nano">
				    <div class="nano-content">
				      <nav id="menu" class="nav-main" role="navigation">
				        <ul class="nav nav-main">
									<!-- <li class="nav-parent nav-expanded nav-active"> -->
									<li class="nav-parent">
										<a>
											<i class="fa fa-copy" aria-hidden="true"></i>
											<span>RFQ</span>
										</a>
										<ul class="nav nav-children">
											<!-- <li class="nav-active">  -->
											<li>
												<a href="/rfq_table">
													 Main Table
												</a>
											</li>
											<li>
												<a href="/rfq_table">
													 Special Process Master
												</a>
											</li>
											<li>
												<a href="/rfq_table">
													 Machine Master
												</a>
											</li>
										</ul>
									</li>
									{% if user.extenduser.role.permission == 0 %}
									<li class="nav-parent">
										<a>
											<i class="fa fa-wrench" aria-hidden="true"></i>
											<span>Admin Tools</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/user_table">
													 User Table
												</a>
											</li>
										</ul>
									</li>
									{% endif %}
				        </ul>
				      </nav>
				    </div>

				  </div>

				</aside>
