{% load static %}

<header class="header">
  <div class="logo-container">
    <a href="index.html" class="logo">
      <img src="{% static "assets/images/logo-ccs.png" %}" height="35" alt="Porto Admin">
    </a>
    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
      <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="header-right">

    <span class="separator"></span>

    <div id="userbox" class="userbox">
        <div class="profile-info">
          <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
          <span class="role">{{ user.extenduser.role.type }}</span>
        </div>
        <ul class="notifications">
						<li>
							<a href="/logout" class="notification-icon" style="box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3)">
								<i class="fa fa-power-off"></i>
							</a>
						</li>
				</ul>
    </div>
  </div>
</header>
