<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- DataTable CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/select2/select2.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Part Table</h2>
					</header>

					<!-- start: page -->
					<section class="panel">
						<header class="panel-heading">
							<div class="panel-actions">
								<!-- <a href="#" class="fa fa-caret-down"></a>
								<a href="#" class="fa fa-times"></a> -->
							</div>

							<!-- <h2 class="panel-title">Part Table</h2> -->
							<p class="panel-subtitle"><i class="fa fa-caret-right"></i> <b>RFQ Tracker No. :</b> {{ project.tracker_no }}</p>
							<p class="panel-subtitle"><i class="fa fa-caret-right"></i> <b>RFQ Description :</b> {{ project.description }}</p>
							<p class="panel-subtitle"><i class="fa fa-caret-right"></i> <b>Customer Name :</b> {{ project.customer_name }}</p>
							<div class="text-left mr-md">
								<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/edit_rfq"><i class="fa fa-edit"></i> Edit</a>
								<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/index" disabled><i class="fa fa-download"></i> Download File</a>
								<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/add_part/{{ project.tracker_no }}"><i class="fa fa-plus"></i> Add Part</a>
								<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/edit_active_rate"><i class="fa fa-edit"></i>Edit Active Rate</a>
								<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/edit_special_process_rate"><i class="fa fa-edit"></i>Edit Special Process Rate</a>
							</div>
						</header>
						<div class="panel-body">
							<table class="table table-bordered table-striped mb-none" id="datatable-default">
								<thead>
									<tr>
										<th class="center">SL No.</th>
										<th class="center">Part No.</th>
										<th class="center">Part Name</th>
										<th class="center">Program</th>
										<th class="center">Detail</th>
									</tr>
								</thead>
								<tbody>
									{% for part in parts %}
									<tr>
										<td class="center">{{ part.sl_no }}</td>
										<td class="center">{{ part.no }}</td>
										<td class="center">{{ part.name }}</td>
										<td class="center">{{ part.program }}</td>
										<td class="center"><a href="/part_info/{{ part.sl_no }}"><i class="fa fa-search"></i></a</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</section>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- DataTable JS -->
	<script src="{% static "assets/vendor/select2/select2.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables-bs3/assets/js/datatables.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

	<script>
	(function( $ ) {
		'use strict';
		var datatableInit = function() {
			$('#datatable-default').dataTable();
		};
		$(function() {
			datatableInit();
		});
	}).apply( this, [ jQuery ]);
	</script>

</html>
