<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template">
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- DataTable CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/select2/select2.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" %}">

		<!-- Tree CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/jstree/themes/default/style.css" %}">

		<!-- Notification CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/pnotify/pnotify.custom.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>RFQ Summary</h2>
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/part_table/{{ project.tracker_no }}">
										<i class="fa fa-chevron-left"></i><b> Back</b>
									</a>
								</li>
							</ol>
							<a class="sidebar-right-toggle"></a>
						</div>
					</header>

					<!-- start: page -->
					<!-- Part Structure -->
					<div class="col-md-12">
							<section class="panel panel-featured">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<!-- <a href="#" class="fa fa-times"></a> -->
									</div>
									<h2 class="panel-title">RFQ Structure</h2>
								</header>
								<div class="panel-body">
									<div id="treeBasic">
										<ul>
											<li data-jstree='{ "icon" : "fa fa-cubes", "opened" : true }'>
												<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/'"><b class="text-danger">RFQ</b> <b>CCS Tracker No.</b> {{ project.ccs_rfq.ccs_tracker_no }}
												{% if part.sl_no == None %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
												</span>
												<ul>
												<!-- level 0 -->
												{% for p0 in parts %}
													<li data-jstree='{ "icon" : {% if p0.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p0.isOpen %}, "opened" : true{% endif %} }'>
														<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p0.sl_no }}'">
															<b>SL No.</b> {{ p0.sl_no }} <b>Part No.</b> {{ p0.no }} <b>Part Name</b> {{ p0.name }}
															{% if p0.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
														</span>
														<!-- level 1 -->
														{% if p0.children != None %}
															<ul>
																{% for p1 in p0.children %}
																	<li data-jstree='{ "icon" : {% if p1.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p1.isOpen %}, "opened" : true{% endif %} }'>
																		<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p1.sl_no }}'">
																			<b>SL No.</b> {{ p1.sl_no }} <b>Part No.</b> {{ p1.no }} <b>Part Name</b> {{ p1.name }}
																			{% if p1.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																		</span>
																		<!-- level 2 -->
																		{% if p1.children != None %}
																			<ul>
																				{% for p2 in p1.children %}
																					<li data-jstree='{ "icon" : {% if p2.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p2.isOpen %}, "opened" : true{% endif %} }'>
																						<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p2.sl_no }}'">
																							<b>SL No.</b> {{ p2.sl_no }} <b>Part No.</b> {{ p2.no }} <b>Part Name</b> {{ p2.name }}
																							{% if p2.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																						</span>
																						<!-- level 3 -->
																						{% if p2.children != None %}
																							<ul>
																								{% for p3 in p2.children %}
																									<li data-jstree='{ "icon" : {% if p3.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p3.isOpen %}, "opened" : true{% endif %} }'>
																										<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p3.sl_no }}'">
																											<b>SL No.</b> {{ p3.sl_no }} <b>Part No.</b> {{ p3.no }} <b>Part Name</b> {{ p3.name }}
																											{% if p3.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																										</span>
																										<!-- level 4 -->
																										{% if p3.children != None %}
																											<ul>
																												{% for p4 in p3.children %}
																													<li data-jstree='{ "icon" : {% if p4.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p4.isOpen %}, "opened" : true{% endif %} }'>
																														<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p4.sl_no }}'">
																															<b>SL No.</b> {{ p4.sl_no }} <b>Part No.</b> {{ p4.no }} <b>Part Name</b> {{ p4.name }}
																															{% if p4.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																														</span>
																														<!-- level 5 -->
																														{% if p4.children != None %}
																															<ul>
																																{% for p5 in p4.children %}
																																	<li data-jstree='{ "icon" : {% if p5.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p5.isOpen %}, "opened" : true{% endif %} }'>
																																		<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p5.sl_no }}'">
																																			<b>SL No.</b> {{ p5.sl_no }} <b>Part No.</b> {{ p5.no }} <b>Part Name</b> {{ p5.name }}
																																			{% if p5.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																																		</span>
																																		<!-- level 6 -->
																																		{% if p5.children != None %}
																																			<ul>
																																				{% for p6 in p5.children %}
																																					<li data-jstree='{ "icon" : {% if p6.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p6.isOpen %}, "opened" : true{% endif %} }'>
																																						<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p6.sl_no }}'">
																																							<b>SL No.</b> {{ p6.sl_no }} <b>Part No.</b> {{ p6.no }} <b>Part Name</b> {{ p6.name }}
																																							{% if p6.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																																						</span>
																																						<!-- level 7 -->
																																						{% if p6.children != None %}
																																							<ul>
																																								{% for p7 in p6.children %}
																																									<li data-jstree='{ "icon" : {% if p7.type == "Part" %}"fa fa-cube"{% else %}"fa fa-codepen"{% endif %}{% if p7.isOpen %}, "opened" : true{% endif %} }'>
																																										<span onClick="javascript:window.location.href='/rfq_summary/{{ project.tracker_no }}/{{ p7.sl_no }}'">
																																											<b>SL No.</b> {{ p7.sl_no }} <b>Part No.</b> {{ p7.no }} <b>Part Name</b> {{ p7.name }}
																																											{% if p7.sl_no == part.sl_no %}<i class="fa fa-check" data-toggle="tooltip" data-placement="top" title="Current Node"></i>{% endif %}
																																										</span>

																																									</li>
																																								{% endfor %}
																																							</ul>
																																						{% endif %}
																																						<!-- end Level 7 -->
																																					</li>
																																				{% endfor %}
																																			</ul>
																																		{% endif %}
																																		<!-- end Level 6 -->
																																	</li>
																																{% endfor %}
																															</ul>
																														{% endif %}
																														<!-- end Level 5 -->
																													</li>
																												{% endfor %}
																											</ul>
																										{% endif %}
																										<!-- end Level 4 -->
																									</li>
																								{% endfor %}
																							</ul>
																						{% endif %}
																						<!-- end Level 3 -->
																					</li>
																				{% endfor %}
																			</ul>
																		{% endif %}
																		<!-- end Level 2 -->
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
														<!-- end Level 1 -->
													</li>
												{% endfor %}
												<!-- end level 0 -->
												</ul>
											</li>
										</ul>
									</div>
									<small class="text-muted"><i class="fa fa-cube"></i> Part | <i class="fa fa-codepen"></i> Hardware</small>
								</div>
							</section>
					</div>

					<div class="col-md-12">
						<section class="panel panel-featured">
							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="fa fa-caret-down"></a>
									<!-- <a href="#" class="fa fa-times"></a> -->
								</div>
								<h2 class="panel-title">Summary</h2>
								{% if part.sl_no != None %}
								<p class="panel-subtitle"><i class="fa fa-eye"></i> Viewing from Part No. <u>{{ part.no }}</u> Part Name <u>{{ part.name }}</u></p>
								{% endif %}
							</header>
							<div class="panel-body">
								<div class="form-group">
									<label class="col-sm-3 control-label text-right"><b>USD/THB</b></label>
									<div class="col-sm-9">
										<label class="control-label" id="usd-thb" name="usd-thb">{{ project.usd_thb }}</label>
									</div>
								</div>
								<!-- Total Project Cost -->
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-condensed mb-none">
											<thead>
												<th class="center custom1" colspan="6" scope="colgroup">Total {% if part.sl_no == None %}Project{% else %}Part{% endif %} Cost</th>
												<tr>
													<th class="center custom1"></th>
													<th class="center custom2">Total Cost</th>
													<th class="center custom2">Mtl Cost</th>
													<th class="center custom2">Spl Process Cost</th>
													<th class="center custom2">Total Hardware Cost</th>
													<th class="center custom2">Total Machine Cost</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="center custom1">Per Years (USD)</td>
													<td class="center" id="total-cost-td" name="total-cost-td">{{ total_cost_td }}</td>
													<td class="center" id ="mtl-cost-td" name ="mtl-cost-td">{{ mtl_cost_td }}</td>
													<td class="center" id="spl-process-cost-td" name="spl-process-cost-td">{{ spl_process_cost_td }}</td>
													<td class="center" id="total-hardware-cost-td" name="total-hardware-cost-td">{{ total_hardware_cost_td }}</td>
													<td class="center" id="total-machine-cost-td" name="total-machine-cost-td">{{ total_machine_cost_td }}</td>
													<td class="center" id="total-cost-td2" name="total-cost-td2" hidden>{{ total_cost_td }}</td>
													<td class="center" id ="mtl-cost-td2" name ="mtl-cost-td2" hidden>{{ mtl_cost_td }}</td>
													<td class="center" id="spl-process-cost-td2" name="spl-process-cost-td2" hidden>{{ spl_process_cost_td }}</td>
													<td class="center" id="total-hardware-cost-td2" name="total-hardware-cost-td2" hidden>{{ total_hardware_cost_td }}</td>
													<td class="center" id="total-machine-cost-td2" name="total-machine-cost-td2" hidden>{{ total_machine_cost_td }}</td>
												</tr>
												<tr>
													<td class="center custom1">Per Years (‎THB)</td>
													<td class="center" id="total-cost-tb" name="total-cost-tb">-</td>
													<td class="center" id ="mtl-cost-tb" name ="mtl-cost-tb">-</td>
													<td class="center" id="spl-process-cost-tb" name="spl-process-cost-tb">-</td>
													<td class="center" id="total-hardware-cost-tb" name="total-hardware-cost-tb">-</td>
													<td class="center" id="total-machine-cost-tb" name="total-machine-cost-tb">-</td>
												</tr>
												<tr>
													<td class="center custom1">X / Total Cost (%)</td>
													<td class="center" id="total-cost-p" name="total-cost-p">-</td>
													<td class="center" id ="mtl-cost-p" name ="mtl-cost-p">-</td>
													<td class="center" id="spl-process-cost-p" name="spl-process-cost-p">-</td>
													<td class="center" id="total-hardware-cost-p" name="total-hardware-cost-p">-</td>
													<td class="center" id="total-machine-cost-p" name="total-machine-cost-p">-</td>
												</tr>
												<tr>
													<td class="center custom1">Value Addition (%)</td>
													<td class="center" id="value-addition" name="value-addition" colspan="5">-</td>
												</tr>
												<tr>
													<td class="center custom1">Total NRE Cost <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="This cost is not include in total cost."></i></td>
													<td class="center" id="total-nre-cost-td" name="total-nre-cost-td" colspan="5">{{ total_nre_cost_td }}</td>
												</tr>
											</tbody>
									</table>
								</div>
								<hr>
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-condensed mb-none">
										<thead>
											<th class="center custom1" colspan="4" scope="colgroup">Total Burden Cost</th>
											<tr>
												<th class="center custom2">Material</th>
												<th class="center custom2">Special Process</th>
												<th class="center custom2">Hardware</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center" id="material-burden-cost-td" name="material-burden-cost-td">{{ material_burden_cost_td }}</td>
												<td class="center" id="sp-burden-cost-td" name="sp-burden-cost-td">{{ sp_burden_cost_td }}</td>
												<td class="center" id="hardware-burden-cost-td" name="hardware-burden-cost-td">{{ hardware_burden_cost_td }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<hr>
								<!-- Machining Capacity Required for the Project -->
								<input type="number" id="mc-set-size" name="mc-set-size" value="{{ mc_set|length }}" hidden>
								<div class="table-responsive">
									<table class="table table-bordered table-striped table-condensed mb-none">
										<thead>
											<th class="center custom1" colspan="4" scope="colgroup">Machining Capacity Required for {% if part.sl_no == None %}the Project{% else %}this Part{% endif %}</th>
											<tr>
												<th class="center custom2">Name</th>
												<th class="center custom2" hidden>Per Year (Minutes)</th>
												<th class="center custom2">Per Year (Hours)</th>
												<th class="center custom2">M/C's / Yr</th>
												<th class="center custom2">Manpower / Yr</th>
											</tr>
										</thead>
										<tbody>
											{% for mc in mc_set %}
											<tr>
												<td class="center"><b>{{ mc.name }}</b></td>
												<td class="center" id="mcrftp-total-{{ forloop.counter0 }}" name="mcrftp-total-{{ forloop.counter0 }}" hidden>{{ mc.mcrftp }}</td>
												<td class="center" id="mcrftp-py-{{ forloop.counter0 }}" name="mcrftp-py-{{ forloop.counter0 }}">-</td>
												<td class="center" id="mcrftp-mpy-{{ forloop.counter0 }}" name="mcrftp-mpy-{{ forloop.counter0 }}">-</td>
												<td class="center" id="mcrftp-man-{{ forloop.counter0 }}" name="mcrftp-man-{{ forloop.counter0 }}">-</td>
											</tr>
											{% endfor %}
											{% if mc_set|length == 0 %}<tr><td class="center" colspan="4">This RFQ has no machining process.</td></tr>{% endif %}
										</tbody>
									</table>
								</div>
							</div>
							<footer class="panel-footer">
								<div class="row">
									<div class="col-sm-12">
										<a class="btn btn-info" href="/fetch_data/{{ project.tracker_no }}"><i class="fa fa-refresh"></i> Update Data</a>
										{% if user.extenduser.role.permission == 0 or user.extenduser.role.permission == 1 %}
										<a class="btn btn-success" href="/generate_table/{{ project.tracker_no }}"><i class="fa fa-magic"></i> Generate RFQ Table</a>
										{% endif %}
										<a class="btn btn-default" href="/media/{{ project.customer_file_path }}" {% if project.last_generate == None %}disabled{% endif %}><i class="fa fa-download"></i> Download File</a>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<label>Last Generate : {{ project.last_generate }}</label>
									</div>
								</div>
							</footer>
						</section>
					</div>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- DataTable JS -->
	<script src="{% static "assets/vendor/select2/select2.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables-bs3/assets/js/datatables.js" %}"></script>

	<!-- Tree JS -->
	<script src="{% static "assets/vendor/jstree/jstree.js" %}"></script>
	<!-- Examples -->
	<script src="{% static "assets/javascripts/ui-elements/examples.treeview.js" %}"></script>

	<!-- Notification JS -->
	<script src="{% static "assets/vendor/pnotify/pnotify.custom.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

	<script>
	$( document ).ready(function() {
		data_cal();
	});

	function data_cal(){
		// -*-*-*-*-*-*-*-*-*-*- 1 RAW INPUT SAVE PHASE -*-*-*-*-*-*-*-*-*-*-
		var usd_thb = parseFloat($( "#usd-thb" ).text());
		// -- Total Project Cost --
		var total_cost_td  = parseFloat($( "#total-cost-td2" ).text());
		var mtl_cost_td  = parseFloat($( "#mtl-cost-td2" ).text());
		var spl_process_cost_td = parseFloat($( "#spl-process-cost-td2" ).text());
 		var total_hardware_cost_td  = parseFloat($( "#total-hardware-cost-td2" ).text());
		var total_machine_cost_td = parseFloat($( "#total-machine-cost-td2" ).text());
		var total_nre_cost_td = parseFloat($( "#total-nre-cost-td" ).text());

		// -- Total Burden Cost --
		var material_burden_cost_td  = parseFloat($( "#material-burden-cost-td" ).text());
		var sp_burden_cost_td  = parseFloat($( "#sp-burden-cost-td" ).text());
		var hardware_burden_cost_td  = parseFloat($( "#hardware-burden-cost-td" ).text());

		// -- Machining Capacity Required for the Project --
		var mc_set_size = $( "#mc-set-size" ).val();
		var arr_mcrftp_total = [];
		for(var i = 0; i < mc_set_size;i++){
			var text = "#mcrftp-total-" + i;
			arr_mcrftp_total[i] =  parseFloat($( text ).text());
		}

		// -*-*-*-*-*-*-*-*-*-*- 2 CALCULATE VALUE SAVE PHASE -*-*-*-*-*-*-*-*-*-*-
		// -- Total Project Cost --
		// Per Year (THB) = Total Project Cost * USD Per THB
		var total_cost_tb = total_cost_td * usd_thb;
		var mtl_cost_tb = mtl_cost_td * usd_thb;
		var spl_process_cost_tb = spl_process_cost_td * usd_thb;
 		var total_hardware_cost_tb = total_hardware_cost_td * usd_thb;
		var total_machine_cost_tb = total_machine_cost_td * usd_thb;

		// X/Total Cost (%)
		var mtl_cost_p = (mtl_cost_td / total_cost_td) * 100;
		var spl_process_cost_p = (spl_process_cost_td / total_cost_td) * 100;
		var total_hardware_cost_p = (total_hardware_cost_td / total_cost_td) * 100;
		var total_machine_cost_p = (total_machine_cost_td / total_cost_td) * 100;

		// Value Addition (%) = [(Spl Process Cost + Machining Cost) / Total Cost ] * 100
		var value_addition = ((spl_process_cost_td + total_machine_cost_td) / total_cost_td) * 100

		// -- Machining Capacity Required for the Project --
		// Per Year (Hours) = SUM(Machining Capacity Required for the Project) / 60
		// Machines Per Year = Per Year (Hours) / 5000
		// Man Power Per Year = Round Up ( Machines Per Year )
		var arr_mcrftp_py = [];
		var arr_mcrftp_mpy = [];
		var arr_mcrftp_man = [];
		for(var i = 0; i < mc_set_size;i++){
			arr_mcrftp_py[i] = arr_mcrftp_total[i] / 60;
			arr_mcrftp_mpy[i] =  arr_mcrftp_py[i] / 5000;
			arr_mcrftp_man[i] =  Math.ceil(arr_mcrftp_mpy[i]);
		}

		// -*-*-*-*-*-*-*-*-*-*- RAW INPUT RESTATE-2 PHASE -*-*-*-*-*-*-*-*-*-*-
		$( "#usd-thb" ).text(math_fix(usd_thb,4));
		// -- Total Project Cost --
		$( "#total-cost-td" ).text(math_fix(total_cost_td,2,"$"));
		$( "#mtl-cost-td" ).text(math_fix(mtl_cost_td,2,"$"));
		$( "#spl-process-cost-td" ).text(math_fix(spl_process_cost_td,2,"$"));
		$( "#total-hardware-cost-td" ).text(math_fix(total_hardware_cost_td,2,"$"));
		$( "#total-machine-cost-td" ).text(math_fix(total_machine_cost_td,2,"$"));
		$( "#total-nre-cost-td" ).text(math_fix(total_nre_cost_td,2,"$"));

		// -- Total Burden Cost --
		$( "#material-burden-cost-td" ).text(math_fix(material_burden_cost_td,2,"$"));
		$( "#sp-burden-cost-td" ).text(math_fix(sp_burden_cost_td,2,"$"));
		$( "#hardware-burden-cost-td" ).text(math_fix(hardware_burden_cost_td,2,"$"));

		// -- Machining Capacity Required for the Project --
		for(var i = 0; i < mc_set_size;i++){
			var text = "#mcrftp-total-" + i;
			$( text ).text(math_fix(arr_mcrftp_total[i],0));
		}

		// -*-*-*-*-*-*-*-*-*-*- CALCULATE VALUE RESTATE-2 PHASE -*-*-*-*-*-*-*-*-*-*-
		// -- Total Project Cost --
		$( "#total-cost-tb" ).text(math_fix(total_cost_tb,2,"฿"));
		$( "#mtl-cost-tb" ).text(math_fix(mtl_cost_tb,2,"฿"));
		$( "#spl-process-cost-tb" ).text(math_fix(spl_process_cost_tb,2,"฿"));
		$( "#total-hardware-cost-tb" ).text(math_fix(total_hardware_cost_tb,2,"฿"));
		$( "#total-machine-cost-tb" ).text(math_fix(total_machine_cost_tb,2,"฿"));

		$( "#mtl-cost-p" ).text(math_fix(mtl_cost_p,2,"","%"));
		$( "#spl-process-cost-p" ).text(math_fix(spl_process_cost_p,2,"","%"));
		$( "#total-hardware-cost-p" ).text(math_fix(total_hardware_cost_p,2,"","%"));
		$( "#total-machine-cost-p" ).text(math_fix(total_machine_cost_p,2,"","%"));

		$( "#value-addition" ).text(math_fix(value_addition,2,"","%"));

		// -- Machining Capacity Required for the Project --
		for(var i = 0; i < mc_set_size;i++){
			var text = "#mcrftp-py-" + i;
			$( text ).text(math_fix(arr_mcrftp_py[i],0));
			var text = "#mcrftp-mpy-" + i;
			$( text ).text(math_fix(arr_mcrftp_mpy[i],0));
			var text = "#mcrftp-man-" + i;
			$( text ).text(math_fix(arr_mcrftp_man[i],0));
		}

		// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
	}

	function math_fix(value, digit, pre_sign, post_sign){
		if(isNaN(value)) return value;
		if(digit == undefined) digit = 0;
		if(pre_sign == undefined) pre_sign = "";
		if(post_sign == undefined) post_sign = "";
		var result = value.toFixed(digit);
		if(post_sign != "%") result = result.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
		return pre_sign + result + post_sign;
	}

	</script>

	<!-- Notification -->
	<script>
	$( document ).ready(function() {
		var url = new URL(window.location.href);
		var message = url.searchParams.get("message");
		console.log('message :' + message);
		if(message != null && !isPageReload()){
			var notice = create_notification(message);
			notice.get().click(function() {
				notice.remove();
			});
		}
	});

	function isPageReload(){
		var perfEntries = performance.getEntriesByType("navigation");
  	for (var i = 0; i < perfEntries.length; i++) {
	    var p = perfEntries[i];
			if(p.type == "reload"){
				return true;
			}
  	}
		return false;
	}

	function create_notification(message){
		var message_title;
		var message_text;
		var message_type; // success error
		if(message == 0){
			message_title = "Fail";
			message_text = "Your data has not been saved.";
			message_type = "error";
		} else if(message == 1){
			message_title = "Success";
			message_text = "Your data has been saved.";
			message_type = "success";
		} else if(message == 2){
			message_title = "Updated";
			message_text = "Your data has been updated.";
			message_type = "info";
		} else if(message == 3){
			message_title = "Generated";
			message_text = "Your RFQ table has been generated.";
			message_type = "success";
		}

		return new PNotify({
			title: message_title,
			text: message_text,
			type: message_type,
			buttons: {
			closer: false,
			sticker: false
			}
		});
	}
	</script>

	<!-- DataTable Default -->
	<script>
	(function( $ ) {
		'use strict';
		var datatableInit = function() {
			$('#datatable-default').dataTable();
		};
		$(function() {
			datatableInit();
		});
	}).apply( this, [ jQuery ]);
	</script>

</html>
