<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template">
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- DataTable CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/select2/select2.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>RFQ Summary</h2>
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/part_table/{{ project.tracker_no }}">
										<i class="fa fa-chevron-left"></i><b> Back</b>
									</a>
								</li>
							</ol>
							<a class="sidebar-right-toggle"></a>
						</div>
					</header>

					<!-- start: page -->
					<section class="panel">
						<header class="panel-heading">
							<div class="panel-actions">
								<!-- <a href="#" class="fa fa-caret-down"></a>
								<a href="#" class="fa fa-times"></a> -->
							</div>
							<h2 class="panel-title">RFQ Summary</h2>
						</header>
						<div class="panel-body">
							<div class="form-group">
								<label class="col-sm-3 control-label text-right"><b>USD/THB</b></label>
								<div class="col-sm-9">
									<label class="control-label" id="usd-thb" name="usd-thb">{{ project.usd_thb }}</label>
								</div>
							</div>
							<!-- Total Project Cost -->
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-condensed mb-none">
										<thead>
											<th class="center custom1" colspan="6" scope="colgroup">Total Project Cost</th>
											<tr>
												<th class="center custom1"></th>
												<th class="center custom2">Total Cost</th>
												<th class="center custom2">Mtl Cost</th>
												<th class="center custom2">Spl Process Cost</th>
												<th class="center custom2">Total Hardware Cost</th>
												<th class="center custom2">Total Machine Cost</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center custom1">Per Years (USD)</td>
												<td class="center" id="total-cost-td" name="total-cost-td">{{ total_cost_td }}</td>
												<td class="center" id ="mtl-cost-td" name ="mtl-cost-td">{{ mtl_cost_td }}</td>
												<td class="center" id="spl-process-cost-td" name="spl-process-cost-td">{{ spl_process_cost_td }}</td>
												<td class="center" id="total-hardware-cost-td" name="total-hardware-cost-td">{{ total_hardware_cost_td }}</td>
												<td class="center" id="total-machine-cost-td" name="total-machine-cost-td">{{ total_machine_cost_td }}</td>
												<td class="center" id="total-cost-td2" name="total-cost-td2" hidden>{{ total_cost_td }}</td>
												<td class="center" id ="mtl-cost-td2" name ="mtl-cost-td2" hidden>{{ mtl_cost_td }}</td>
												<td class="center" id="spl-process-cost-td2" name="spl-process-cost-td2" hidden>{{ spl_process_cost_td }}</td>
												<td class="center" id="total-hardware-cost-td2" name="total-hardware-cost-td2" hidden>{{ total_hardware_cost_td }}</td>
												<!-- <td class="center" id="total-machine-cost-td2" name="total-machine-cost-td2" hidden>{{ total_machine_cost_td }}</td> -->
												<td class="center" id="total-machine-cost-td2" name="total-machine-cost-td2" hidden>100</td>
											</tr>
											<tr>
												<td class="center custom1">Per Years (‎THB)</td>
												<td class="center" id="total-cost-tb" name="total-cost-tb">-</td>
												<td class="center" id ="mtl-cost-tb" name ="mtl-cost-tb">-</td>
												<td class="center" id="spl-process-cost-tb" name="spl-process-cost-tb">-</td>
												<td class="center" id="total-hardware-cost-tb" name="total-hardware-cost-tb">-</td>
												<td class="center" id="total-machine-cost-tb" name="total-machine-cost-tb">-</td>
											</tr>
											<tr>
												<td class="center custom1">X/Total Cost (%)</td>
												<td class="center" id="total-cost-p" name="total-cost-p">-</td>
												<td class="center" id ="mtl-cost-p" name ="mtl-cost-p">-</td>
												<td class="center" id="spl-process-cost-p" name="spl-process-cost-p">-</td>
												<td class="center" id="total-hardware-cost-p" name="total-hardware-cost-p">-</td>
												<td class="center" id="total-machine-cost-p" name="total-machine-cost-p">-</td>
											</tr>
											<tr>
												<td class="center custom1">Value A (%)</td>
												<td class="center" id="value-a" name="value-a" colspan="5">-</td>
											</tr>
										</tbody>
								</table>
							</div>
							<hr>
							<!-- Machining Capacity Planing -->
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-condensed mb-none">
										<thead>
											<th class="center custom1" colspan="10" scope="colgroup">Machining Capacity Required for the Project</th>
											<tr>
												<th class="center custom1"></th>
												<th class="center custom2">CLA</th>
												<th class="center custom2">BTA</th>
												<th class="center custom2">TMA</th>
												<th class="center custom2">MCA 3 Axis</th>
												<th class="center custom2">MCA 4 Axis</th>
												<th class="center custom2">HMC</th>
												<th class="center custom2">5 Axis</th>
												<th class="center custom2">EDM</th>
												<th class="center custom2">Grinding</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="center custom1">Per Year</td>
												<td class="center" id="mcrftp-cla-t" name="mcrftp-cla-t">{{ mcrftp_cla_t }}</td>
												<td class="center" id="mcrftp-bta-t" name="mcrftp-bta-t">{{ mcrftp_bta_t }}</td>
												<td class="center" id="mcrftp-tma-t" name="mcrftp-tma-t">{{ mcrftp_tma_t }}</td>
												<td class="center" id="mcrftp-mca3axis-t" name="mcrftp-mca3axis-t">{{ mcrftp_mca3axis_t }}</td>
												<td class="center" id="mcrftp-mca4axis-t" name="mcrftp-mca4axis-t">{{ mcrftp_mca4axis_t }}</td>
												<td class="center" id="mcrftp-hmc-t" name="mcrftp-hmc-t">{{ mcrftp_hmc_t }}</td>
												<td class="center" id="mcrftp-5axis-t" name="mcrftp-5axis-t">{{ mcrftp_5axis_t }}</td>
												<td class="center" id="mcrftp-edm-t" name="mcrftp-edm-t">{{ mcrftp_edm_t }}</td>
												<td class="center" id="mcrftp-grinding-t" name="mcrftp-grinding-t">{{ mcrftp_grinding_t }}</td>
											</tr>
											<tr>
												<td class="center custom1">M/C's / Yr</td>
												<td class="center" id="mcrftp-cla-mc" name="mcrftp-cla-mc">-</td>
												<td class="center" id="mcrftp-bta-mc" name="mcrftp-bta-mc">-</td>
												<td class="center" id="mcrftp-tma-mc" name="mcrftp-tma-mc">-</td>
												<td class="center" id="mcrftp-mca3axis-mc" name="mcrftp-mca3axis-mc">-</td>
												<td class="center" id="mcrftp-mca4axis-mc" name="mcrftp-mca4axis-mc">-</td>
												<td class="center" id="mcrftp-hmc-mc" name="mcrftp-hmc-mc">-</td>
												<td class="center" id="mcrftp-5axis-mc" name="mcrftp-5axis-mc">-</td>
												<td class="center" id="mcrftp-edm-mc" name="mcrftp-edm-mc">-</td>
												<td class="center" id="mcrftp-grinding-mc" name="mcrftp-grinding-mc">-</td>
											</tr>
											<tr>
												<td class="center custom1">Manpower / Yr</td>
												<td class="center" id="mcrftp-cla-man" name="mcrftp-cla-man">-</td>
												<td class="center" id="mcrftp-bta-man" name="mcrftp-bta-man">-</td>
												<td class="center" id="mcrftp-tma-man" name="mcrftp-tma-man">-</td>
												<td class="center" id="mcrftp-mca3axis-man" name="mcrftp-mca3axis-man">-</td>
												<td class="center" id="mcrftp-mca4axis-man" name="mcrftp-mca4axis-man">-</td>
												<td class="center" id="mcrftp-hmc-man" name="mcrftp-hmc-man">-</td>
												<td class="center" id="mcrftp-5axis-man" name="mcrftp-5axis-man">-</td>
												<td class="center" id="mcrftp-edm-man" name="mcrftp-edm-man">-</td>
												<td class="center" id="mcrftp-grinding-man" name="mcrftp-grinding-man">-</td>
											</tr>
										</tbody>
								</table>
							</div>
						</div>
					</section>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- DataTable JS -->
	<script src="{% static "assets/vendor/select2/select2.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables-bs3/assets/js/datatables.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

	<script>
	$( document ).ready(function() {
		data_cal();
	});

	function data_cal(){
		// -*-*-*-*-*-*-*-*-*-*- 1 RAW INPUT SAVE PHASE -*-*-*-*-*-*-*-*-*-*-
		var usd_thb = parseFloat($( "#usd-thb" ).text()); // NO RESTATE
		// -- Total Project Cost --
		var total_cost_td  = parseFloat($( "#total-cost-td2" ).text());
		var mtl_cost_td  = parseFloat($( "#mtl-cost-td2" ).text());
		var spl_process_cost_td = parseFloat($( "#spl-process-cost-td2" ).text());
 		var total_hardware_cost_td  = parseFloat($( "#total-hardware-cost-td2" ).text());
		var total_machine_cost_td = parseFloat($( "#total-machine-cost-td2" ).text());

		// -- Machining Capacity Required for the Project --
		var mcrftp_cla_t  = parseFloat($( "#mcrftp-cla-t" ).text());
		var mcrftp_bta_t  = parseFloat($( "#mcrftp-bta-t" ).text());
		var mcrftp_tma_t  = parseFloat($( "#mcrftp-tma-t" ).text());
		var mcrftp_mca3axis_t  = parseFloat($( "#mcrftp-mca3axis-t" ).text());
		var mcrftp_mca4axis_t  = parseFloat($( "#mcrftp-mca4axis-t" ).text());
		var mcrftp_hmc_t  = parseFloat($( "#mcrftp-hmc-t" ).text());
		var mcrftp_5axis_t  = parseFloat($( "#mcrftp-5axis-t" ).text());
		var mcrftp_edm_t  = parseFloat($( "#mcrftp-edm-t" ).text());
		var mcrftp_grinding_t  = parseFloat($( "#mcrftp-grinding-t" ).text());

		// -*-*-*-*-*-*-*-*-*-*- 2 CALCULATE VALUE SAVE PHASE -*-*-*-*-*-*-*-*-*-*-
		// -- Total Project Cost --
		// Per Year (THB) = Total Project Cost * USD Per THB
		var total_cost_tb = total_cost_td * usd_thb;
		var mtl_cost_tb = mtl_cost_td * usd_thb;
		var spl_process_cost_tb = spl_process_cost_td * usd_thb;
 		var total_hardware_cost_tb = total_hardware_cost_td * usd_thb;
		var total_machine_cost_tb = total_machine_cost_td * usd_thb;

		// X/Total Cost (%)
		var mtl_cost_p = (mtl_cost_td / total_cost_td) * 100;
		var spl_process_cost_p = (spl_process_cost_td / total_cost_td) * 100;
		var total_hardware_cost_p = (total_hardware_cost_td / total_cost_td) * 100;
		var total_machine_cost_p = (total_machine_cost_td / total_cost_td) * 100;

		// -- Machining Capacity Required for the Project --
		// Machines Per Year = Machining Capacity Required for the Project / 5000
		var mcrftp_cla_mc = mcrftp_cla_t / 5000;
		var mcrftp_bta_mc = mcrftp_bta_t / 5000;
		var mcrftp_tma_mc = mcrftp_tma_t / 5000;
		var mcrftp_mca3axis_mc = mcrftp_mca3axis_t / 5000;
		var mcrftp_mca4axis_mc = mcrftp_mca4axis_t / 5000;
		var mcrftp_hmc_mc = mcrftp_hmc_t / 5000;
		var mcrftp_5axis_mc = mcrftp_5axis_t / 5000;
		var mcrftp_edm_mc = mcrftp_edm_t / 5000;
		var mcrftp_grinding_mc = mcrftp_grinding_t / 5000;

		// Man Power Per Year = Round Up ( Machining Capacity Required for the Project / 5000 )
		var mcrftp_cla_man = Math.ceil(mcrftp_cla_t / 5000, 0);
		var mcrftp_bta_man = Math.ceil(mcrftp_bta_t / 5000, 0);
		var mcrftp_tma_man = Math.ceil(mcrftp_tma_t / 5000, 0);
		var mcrftp_mca3axis_man = Math.ceil(mcrftp_mca3axis_t / 5000, 0);
		var mcrftp_mca4axis_man = Math.ceil(mcrftp_mca4axis_t / 5000, 0);
		var mcrftp_hmc_man = Math.ceil(mcrftp_hmc_t / 5000, 0);
		var mcrftp_5axis_man = Math.ceil(mcrftp_5axis_t / 5000, 0);
		var mcrftp_edm_man = Math.ceil(mcrftp_edm_t / 5000, 0);
		var mcrftp_grinding_man = Math.ceil(mcrftp_grinding_t / 5000, 0);

		// -*-*-*-*-*-*-*-*-*-*- 5 RAW INPUT RESTATE-2 PHASE -*-*-*-*-*-*-*-*-*-*-
		// -- Total Project Cost --
		$( "#total-cost-td" ).text(dollar_sign(total_cost_td) + total_cost_td.toFixed(2));
		$( "#mtl-cost-td" ).text(dollar_sign(mtl_cost_td) + mtl_cost_td.toFixed(2));
		$( "#spl-process-cost-td" ).text(dollar_sign(spl_process_cost_td) + spl_process_cost_td.toFixed(2));
		$( "#total-hardware-cost-td" ).text(dollar_sign(total_hardware_cost_td) + total_hardware_cost_td.toFixed(2));
		$( "#total-machine-cost-td" ).text(dollar_sign(total_machine_cost_td) + total_machine_cost_td.toFixed(2));

		// -- Machining Capacity Required for the Project --
		$( "#mcrftp-cla-t" ).text(mcrftp_cla_t.toFixed(2));
		$( "#mcrftp-bta-t" ).text(mcrftp_bta_t.toFixed(2));
		$( "#mcrftp-tma-t" ).text(mcrftp_tma_t.toFixed(2));
		$( "#mcrftp-mca3axis-t" ).text(mcrftp_mca3axis_t.toFixed(2));
		$( "#mcrftp-mca4axis-t" ).text(mcrftp_mca4axis_t.toFixed(2));
		$( "#mcrftp-hmc-t" ).text(mcrftp_hmc_t.toFixed(2));
		$( "#mcrftp-5axis-t" ).text(mcrftp_5axis_t.toFixed(2));
		$( "#mcrftp-edm-t" ).text(mcrftp_edm_t.toFixed(2));
		$( "#mcrftp-grinding-t" ).text(mcrftp_grinding_t.toFixed(2));
		// -*-*-*-*-*-*-*-*-*-*- 6 CALCULATE VALUE RESTATE-2 PHASE -*-*-*-*-*-*-*-*-*-*-
		// -- Total Project Cost --
		$( "#total-cost-tb" ).text(bath_sign(total_cost_tb) + total_cost_tb.toFixed(2));
		$( "#mtl-cost-tb" ).text(bath_sign(mtl_cost_tb) + mtl_cost_tb.toFixed(2));
		$( "#spl-process-cost-tb" ).text(bath_sign(spl_process_cost_tb) + spl_process_cost_tb.toFixed(2));
		$( "#total-hardware-cost-tb" ).text(bath_sign(total_hardware_cost_tb) + total_hardware_cost_tb.toFixed(2));
		$( "#total-machine-cost-tb" ).text(bath_sign(total_machine_cost_tb) + total_machine_cost_tb.toFixed(2));

		$( "#mtl-cost-p" ).text(mtl_cost_p.toFixed(2) + percent_sign(mtl_cost_p));
		$( "#spl-process-cost-p" ).text(spl_process_cost_p.toFixed(2) + percent_sign(spl_process_cost_p));
		$( "#total-hardware-cost-p" ).text(total_hardware_cost_p.toFixed(2) + percent_sign(total_hardware_cost_p));
		$( "#total-machine-cost-p" ).text(total_machine_cost_p.toFixed(2) + percent_sign(total_machine_cost_p));

		// -- Machining Capacity Required for the Project --
		$( "#mcrftp-cla-mc" ).text(mcrftp_cla_mc.toFixed(2));
		$( "#mcrftp-bta-mc" ).text(mcrftp_bta_mc.toFixed(2));
		$( "#mcrftp-tma-mc" ).text(mcrftp_tma_mc.toFixed(2));
		$( "#mcrftp-mca3axis-mc" ).text(mcrftp_mca3axis_mc.toFixed(2));
		$( "#mcrftp-mca4axis-mc" ).text(mcrftp_mca4axis_mc.toFixed(2));
		$( "#mcrftp-hmc-mc" ).text(mcrftp_hmc_mc.toFixed(2));
		$( "#mcrftp-5axis-mc" ).text(mcrftp_5axis_mc.toFixed(2));
		$( "#mcrftp-edm-mc" ).text(mcrftp_edm_mc.toFixed(2));
		$( "#mcrftp-grinding-mc" ).text(mcrftp_grinding_mc.toFixed(2));

		$( "#mcrftp-cla-man" ).text(mcrftp_cla_man);
		$( "#mcrftp-bta-man" ).text(mcrftp_bta_man);
		$( "#mcrftp-tma-man" ).text(mcrftp_tma_man);
		$( "#mcrftp-mca3axis-man" ).text(mcrftp_mca3axis_man);
		$( "#mcrftp-mca4axis-man" ).text(mcrftp_mca4axis_man);
		$( "#mcrftp-hmc-man" ).text(mcrftp_hmc_man);
		$( "#mcrftp-5axis-man" ).text(mcrftp_5axis_man);
		$( "#mcrftp-edm-man" ).text(mcrftp_edm_man);
		$( "#mcrftp-grinding-man" ).text(mcrftp_grinding_man);
	}

	function dollar_sign(value){
		if(isNaN(value)) return "";
		return "$";
	}

	function bath_sign(value){
		if(isNaN(value)) return "";
		return "฿";
	}

	function percent_sign(value){
		if(isNaN(value)) return "";
		return "%";
	}

	</script>

	<!-- DataTable Default -->
	<script>
	(function( $ ) {
		'use strict';
		var datatableInit = function() {
			$('#datatable-default').dataTable();
		};
		$(function() {
			datatableInit();
		});
	}).apply( this, [ jQuery ]);
	</script>

</html>
