<!doctype html>
{% load static %}
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>RFQ Management Application</title>
		<meta name="keywords" content="HTML5 Admin Template">
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/font-awesome/css/font-awesome.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/magnific-popup/magnific-popup.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}">

		<!-- DataTable CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/select2/select2.css" %}">
		<link rel="stylesheet" href="{% static "assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" %}">

		<!-- Notification CSS -->
		<link rel="stylesheet" href="{% static "assets/vendor/pnotify/pnotify.custom.css" %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme.css" %}">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/skins/default.css" %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "assets/stylesheets/theme-custom.css" %}">
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			{% include 'navbar.html' %}
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				{% include 'leftsidebar.html' %}
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>User Table</h2>
					</header>

					<!-- start: page -->
					<section class="panel">
						<header class="panel-heading">
							<div class="panel-actions">
								<!-- <a href="#" class="fa fa-caret-down"></a>
								<a href="#" class="fa fa-times"></a> -->
							</div>
							<!-- <h2 class="panel-title">User Table</h2> -->
							<a class="mb-xs mt-xs mr-xs btn btn-sm btn-default" href="/add_user/"><i class="fa fa-plus"></i> Add User</a>
						</header>
						<div class="panel-body">
							<table class="table table-bordered table-striped mb-none" id="datatable-default">
								<thead>
									<tr>
										<th class="center">Username</th>
										<th class="center">First Name</th>
										<th class="center">Last Name</th>
										<th class="center">Role</th>
										<th class="center">Detail</th>
									</tr>
								</thead>
								<tbody>
                {% for fuser in users %}
									<tr>
										<td class="center">{{ fuser.username }}</td>
										<td class="center">{{ fuser.first_name }}</td>
										<td class="center">{{ fuser.last_name }}</td>
										<td class="center">{{ fuser.extenduser.role.type }}</td>
										<td class="center"><a href="/edit_user/{{ fuser.username }}"><i class="fa fa-search"></i></a</td>
									</tr>
                {% endfor %}
								</tbody>
							</table>
						</div>
					</section>
					<!-- end: page -->
				</section>
			</div>
		</section>
	</body>
	<!-- Head Libs -->
	<script src="{% static "assets/vendor/modernizr/modernizr.js" %}"></script>

	<!-- Vendor -->
	<script src="{% static "assets/vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
	<script src="{% static "assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
	<script src="{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
	<script src="{% static "assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>

	<!-- DataTable JS -->
	<script src="{% static "assets/vendor/select2/select2.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/media/js/jquery.dataTables.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js" %}"></script>
	<script src="{% static "assets/vendor/jquery-datatables-bs3/assets/js/datatables.js" %}"></script>

	<!-- Notification JS -->
	<script src="{% static "assets/vendor/pnotify/pnotify.custom.js" %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static "assets/javascripts/theme.js" %}"></script>

	<!-- Theme Custom -->
	<script src="{% static "assets/javascripts/theme.custom.js" %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static "assets/javascripts/theme.init.js" %}"></script>

	<!-- Notification -->
	<script>
	$( document ).ready(function() {
		var url = new URL(window.location.href);
		var message = url.searchParams.get("message");
		console.log('message :' + message);
		if(message != null){
			var notice = create_notification(message);
			notice.get().click(function() {
				notice.remove();
			});
		}
	});

	function create_notification(message){
		var message_title;
		var message_text;
		var message_type; // success error
		if(message == 0){
			message_title = "Fail";
			message_text = "Your data has not been saved.";
			message_type = "error";
		} else if(message == 1){
			message_title = "Success";
			message_text = "Your data has been saved.";
			message_type = "success";
		}

		return new PNotify({
			title: message_title,
			text: message_text,
			type: message_type,
			buttons: {
			closer: false,
			sticker: false
			}
		});
	}
	</script>

	<!-- DataTable Default -->
	<script>
	(function( $ ) {
		'use strict';
		var datatableInit = function() {
			$('#datatable-default').dataTable();
		};
		$(function() {
			datatableInit();
		});
	}).apply( this, [ jQuery ]);
	</script>

</html>
